ENLIGHTENMENT_DEVISE_SECRET_KEY=asdfgw
ENLIGHTENMENT_SECRET_KEY_BASE=qwertyuiop
ENLIGHTENMENT_SECRET_TOKEN=gasvbhdsld

ENLIGHTENMENT_EMAIL_ADDRESS=enlightenment@example.com
ENLIGHTENMENT_DEFAULT_HOST=enlightenment.example.com
ENLIGHTENMENT_SMTP_ADDRESS=example.com
ENLIGHTENMENT_SMTP_PORT=123
ENLIGHTENMENT_SMTP_DOMAIN=example.com
ENLIGHTENMENT_SMTP_USER_NAME=me@example.com
ENLIGHTENMENT_SMTP_PASSWORD=zxcvbnm

ENLIGHTENMENT_S3_ID_DEV=wix
ENLIGHTENMENT_S3_KEY_DEV=xud
ENLIGHTENMENT_S3_BUCKETS_DEV=klech-dev


