<div class="modal-backdrop fade">&nbsp;
</div>
<div class="modal fade show" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {{unbound title}}
      </div>
      <div class="modal-body">
        <div class="modal-body">
          Are you sure you want to delete this?
        </div>
      </div>
      <div class="modal-footer">
        <button {{action 'confirm'}}>Yes delete this</button>
        <button {{action 'close'}}>Cancel</button>
      </div>
    </div>
  </div>
</div>
