= simple_form_for @group, html: { class: '', role: 'form'} do |f|
  %fieldset
    = f.label 'Name'
    = f.input_field :name, class: 'form-control input-sm'
    %br
    .form-actions
      = f.button :submit, class: 'btn btn-success'