<div class="modal-backdrop fade">&nbsp;
</div>
<div class="modal fade show" >
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" {{action close}}>&times;</button>
        <h3>Modal header</h3>
      </div>
      <div class="modal-body">
        <p>Got dat Modal1</p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>



