body{
  background: asset-url('bg.png');
}
.icheckbox_flat-aero, .iradio_flat-aero {
  background: asset-url('blue.png') no-repeat;
}
.separate-sections > li.no-margin, .separate-sections > div.no-margin{
  margin-bottom: 0px !important;
}

.main-content{
  .table-footer{
    .pagination{
      margin: 4px 0;
    }
  }

  form.form-horizontal .padded{
    input[type="checkbox"]{
      width: auto;
    }
    .add_nested_fields{
    }
    .remove_nested_fields{
      float: left;
    }
  }
}

.btn.btn-blue {
  color: white;
}

.box-toolbar {
  .label {
    font-size: 100%;
  }
}

.dark-nav > ul li a:hover {
  text-decoration: none;
}

.container.login-box {
  max-width: 400px;
}

.login.box {
  .input-group {
    .form-control {
      height: 40px;
      padding-left: 45px;
    }
    span {
      margin-left: -2px;
    }
  }
}

.checkbox {
  margin-left: 20px;
}
