<div id="container">
  <div class="well">
    <form class="form-horizontal" role="form" {{action "addComment" on="submit"}}>
      <div class="input-group" style="padding:14px;">
        {{view Ember.TextArea valueBinding="commentBody" class="form-control" placeholder="Enter your comment here!"}}
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit" id="add_button">Add</button>
        </span>
      </div>
    </form>
  </div>
</div>