<div id="container">
  <div class="well">
    <form class="form-horizontal" role="form" {{action "addEntry" on="submit"}}>
      <div class="input-group" style="padding:14px;">
        {{button-input name='content_entity[content]' valueBinding="newEntryName" class="form-control" required="true" id="textarea"}}
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit" id="add_button" style="height: 100%; margin: 0; padding: 0; width: 50px;">Add</button>
        </span>
      </div>
    </form>
  </div>
</div>

<div class="list-group">
  {{#each content_entity in paginatedContent itemController="ContentEntity"}}
    {{view 'content_entity_item' contentBinding="content_entity"}}
  {{/each}}
</div>

{{pagination-links page=page pages=pages}}

