<div class="jumbotron">
  <div class="container">
    <h2>Welcome to Enligtenment App!</h2>
    <p>Vestibulum porttitor massa eget pellentesque eleifend. Suspendisse tempor, nisi eu placerat auctor, est erat tempus neque, pellentesque venenatis eros lorem vel quam. Nulla luctus malesuada porttitor. Fusce risus mi, luctus scelerisque hendrerit feugiat, volutpat gravida nisi. Quisque facilisis risus in lacus sagittis malesuada. Suspendisse non purus diam.</p>
    {{#link-to 'login' class='btn btn-default btn-lg'}}Login{{/link-to}}
    {{#link-to 'registration' class='btn btn-success btn-lg'}}<b>Register</b>{{/link-to}}
  </div>
</div>