<div class="form-horizontal">
  <h2 class="form-signin-heading">Please sign in</h2>
  <form {{action 'authenticate' on='submit'}}>

    <div class="form-group">
      <div class="col-lg-5">
        {{view Ember.TextField id='identification' valueBinding='identification' placeholder='Enter Login' class="form-control"}}
      </div>
    </div>
    <!-- <label for="identification">Login</label>-->

    <div class="form-group">
      <div class="col-lg-5">
        {{view Ember.TextField id='password' type='password' valueBinding='password' placeholder='Enter Password' class="form-control"}}
      </div>
    </div>
    <!-- <label for="password">Password</label>-->

    <div class="form-actions">
      <button  type="submit" class="btn btn-primary" value="Login">Sign in</button>

      {{#link-to 'registration' class='btn btn-info btn-sm'}}<b>Registration</b>{{/link-to}}
    </div>

  </form>
</div>
