/ Navigation
%nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    = link_to 'EnlightenmentApp', root_path, class: 'a navbar-brand'
  / /.navbar-header
  %ul.nav.navbar-top-links.navbar-right
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %i.fa.fa-user.fa-fw
        %i.fa.fa-caret-down
      %ul.dropdown-menu.dropdown-user
        %li
          = link_to '<i class="fa fa-sign-out fa-fw"></i> Logout'.html_safe, destroy_administrator_session_path, method: 'delete'

  .navbar-default.sidebar{:role => "navigation"}
    .sidebar-nav.navbar-collapse
      %ul#side-menu.nav
        %li.sidebar-search
          .input-group.custom-search-form
            %input.form-control{:placeholder => "Search...", :type => "text"}/
            %span.input-group-btn
              %button.btn.btn-default{:type => "button"}
                %i.fa.fa-search
          / /input-group
        %li
          = link_to '<i class="fa fa-dashboard fa-fw"></i> Dashboard'.html_safe, admin_root_path
        %li
          = link_to '<i class="fa fa-user fa-fw"></i> Administrators'.html_safe, admin_administrators_path
        %li
          %a{:href => "#"}
            %i.fa.fa-bar-chart-o.fa-fw
            Charts

        %li
          %a{:href => "tables.html"}
            %i.fa.fa-table.fa-fw
            Tables
