!!!
%html
  %head
    %title EnlightenmentApp
    = stylesheet_link_tag 'holo/holo', media: 'all'
    = javascript_include_tag 'application'
    %script{src: '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'}
    = csrf_meta_tags
  - if true
    %body
      #ember-app
  - if false
    %body
      .page-container
        / top navbar
        %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
          .navbar-header
            %button.navbar-toggle{"data-target" => ".sidebar-nav", "data-toggle" => "offcanvas", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => "#"} Bootstrap Holo
        .container-fluid
          .row.row-offcanvas.row-offcanvas-left
            / sidebar
            #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas{:role => "navigation"}
              %div{"data-offset-bottom" => "90", "data-offset-top" => "45", "data-spy" => "affix"}
                %ul#sidebar-nav.nav
                  %li
                    %a{:href => "#"} Home
                  %li
                    %a{:href => "#section1"} Section 1
                  %li
                    %a{:href => "#section2"} Section 2
                  %li
                    %a{:href => "#section3"} Section 3
                  %li
                    %a{:href => "#"} Holo Theme
                  %li
                    %i.fa.fa-cog
            / /sidebar
            / /main
            .col-xs-12.col-sm-9{"data-spy" => "scroll", "data-target" => "#sidebar-nav"}
              .row
                .col-sm-6
                  .panel.panel-default
                    .panel-heading
                      %a.pull-right{:href => "#"} View all
                      %h4 Newest Items
                    .panel-body
                      .list-group
                        %a.list-group-item.active{:href => "#"} Active item
                        %a.list-group-item{:href => "#"} Second item
                        %a.list-group-item{:href => "#"} Third item
                        %a.list-group-item{:href => "#"} Another item
                        %a.list-group-item{:href => "#"} Another item
                        %a.list-group-item{:href => "#"} Another item
                        %a.list-group-item{:href => "#"} Another item
                        %a.list-group-item{:href => "#"} Another item
                        %a.list-group-item{:href => "#"} Another item
                    / /panel-body
                  / /panel
                  .well
                    %form.form-horizontal{:role => "form"}
                      %h4 What's New
                      .form-group{:style => "padding:14px;"}
                        %textarea.form-control{:placeholder => "Update your status"}
                      %button.btn.btn-success.pull-right{:type => "button"} Post
                      %ul.list-inline
                        %li
                          %a{:href => "#"}
                            %i.glyphicon.glyphicon-align-left
                        %li
                          %a{:href => "#"}
                            %i.glyphicon.glyphicon-align-center
                        %li
                          %a{:href => "#"}
                            %i.glyphicon.glyphicon-align-right
                  / /well
                  .panel.panel-default
                    .panel-heading
                      %a.pull-right{:href => "#"} View all
                      %h4 Responsive Design
                    .panel-body
                      %p
                        %img.img-circle.pull-right{:src => "//placehold.it/100"}/
                        %a{:href => "#"} Bootstrap Playground
                      .clearfix
                      %hr/
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                      Aliquam in felis sit amet augue.
                      %hr/
                      .btn-group.pull-right.btn-toggle
                        %button.btn.btn-default ON
                        %button.btn.btn-primary.active OFF
                    / /panel-body
                  / /panel
                / /col
                .col-sm-6
                  .well
                    %form.form
                      %h4 Sign-up
                      .input-group.text-center
                        %input.form-control.input-lg{:placeholder => "Enter your email address", :title => "Don't worry. We hate spam, and will not share your email with anyone.", :type => "text"}/
                        %span.input-group-btn
                          %button.btn.btn-lg.btn-primary{:type => "button"} OK
                  / /well
                  .panel.panel-default
                    .panel-heading
                      %a.pull-right{:href => "#"} View all
                      %h4 People You May Know
                    .panel-body
                      %p
                        %img.img-circle.pull-right{:src => "//placehold.it/100"}/
                        %a{:href => "#"} Bootstrap Playground
                      .clearfix
                      %hr/
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                      Aliquam in felis sit amet augue.
                      %hr/
                      .btn-group.pull-right.btn-toggle
                        %button.btn.btn-default ON
                        %button.btn.btn-primary.active OFF
                    / /panel-body
                  / /panel
                  .panel.panel-default
                    .panel-heading
                      %a.pull-right{:href => "#"} View all
                      %h4 Portlet Heading
                    .panel-body
                      %ul.list-group
                        %li.list-group-item
                          %span.btn-group.btn-toggle.pull-right{:href => "#"}
                            %button.btn.btn-xs.btn-default On
                            %button.btn.btn-xs.btn-primary.active Off
                          Bootply
                        %li.list-group-item
                          %span.btn-group.btn-toggle.pull-right{:href => "#"}
                            %button.btn.btn-xs.btn-primary.active On
                            %button.btn.btn-xs.btn-default Off
                          Templates
                        %li.list-group-item
                          %span.btn-group.btn-toggle.pull-right{:href => "#"}
                            %button.btn.btn-xs.btn-default On
                            %button.btn.btn-xs.btn-primary.active Off
                          Snippets
                    / /panel-body
                  / /panel
                / /col
              / /row
              %h1#section1 Section 1
              .panel.panel-default
                .panel-heading
                  %a.pull-right{:href => "#"} View all
                  %h4 Newest Items
                .panel-body
                  .list-group
                    %a.list-group-item.active{:href => "#"} Active item
                    %a.list-group-item{:href => "#"} Second item
                    %a.list-group-item{:href => "#"} Third item
              / /panel
              %p
                Vestibulum porttitor massa eget pellentesque eleifend. Suspendisse tempor, nisi eu placerat auctor,
                est erat tempus neque, pellentesque venenatis eros lorem vel quam. Nulla luctus malesuada porttitor.
                Fusce risus mi, luctus scelerisque hendrerit feugiat, volutpat gravida nisi. Quisque facilisis risus
                in lacus sagittis malesuada. Suspendisse non purus diam. Nunc commodo felis sit amet tortor
                adipiscing varius. Fusce commodo nulla quis fermentum hendrerit. Donec vulputate, tellus sed
                venenatis sodales, purus nibh ullamcorper quam, sit amet tristique justo velit molestie lorem.
              %h1#section2 Section 2
              %p
                Fusce sollicitudin lacus lacinia mi tincidunt ullamcorper. Aenean velit ipsum, vestibulum nec
                tincidunt eu, lobortis vitae erat. Nullam ultricies fringilla ultricies. Sed euismod nibh quis
                tincidunt dapibus. Nulla quam velit, porta sit amet felis eu, auctor fringilla elit. Donec
                convallis tincidunt nibh, quis pellentesque sapien condimentum a. Phasellus purus dui, rhoncus
                id suscipit id, ornare et sem. Duis aliquet posuere arcu a ornare. Pellentesque consequat libero
                id massa accumsan volutpat. Fusce a hendrerit lacus. Nam elementum ac eros eu porttitor.
                Phasellus enim mi, auctor sit amet luctus a, commodo fermentum arcu. In volutpat scelerisque
                quam, nec lacinia libero.
              %hr/
              %button.btn.btn-primary View
              %button.btn.btn-primary Download
              %h1#section3 Section 3
              %p
                Aliquam a lacinia orci, iaculis porttitor neque. Nullam cursus dolor tempus mauris posuere, eu
                scelerisque sem tincidunt. Praesent blandit sapien at sem pulvinar, vel egestas orci varius.
                Praesent vitae purus at ante aliquet luctus vel quis nibh. Mauris id nulla vitae est lacinia
                rhoncus a vel justo. Donec iaculis quis sapien vel molestie. Aliquam sed elementum orci.
                Vestibulum tristique tempor risus et malesuada. Sed eget ligula sed quam placerat dapibus.
                Integer accumsan ac massa at tempus.
              %hr/
              %h1#section3 Elements
              .row
                .col-md-12
                  .alert.alert-info.alert-dismissable
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
                    %strong Heads up!
                    This alert needs your attention, but it's not super important.
                .col-sm-6
                  .panel.panel-default
                    .panel-heading
                      %a.pull-right{:href => "#"} View all
                      %h4 Buttons & Labels
                    .panel-body
                      .row
                        .col-xs-4
                          %a.btn.btn-default.center-block{:href => "#"} Button
                        .col-xs-4
                          %a.btn.btn-primary.center-block{:href => "#"} Primary
                        .col-xs-4
                          %a.btn.btn-danger.center-block{:href => "#"} Danger
                      %br/
                      .row
                        .col-xs-4
                          %a.btn.btn-warning.center-block{:href => "#"} Warning
                        .col-xs-4
                          %a.btn.btn-info.center-block{:href => "#"} Info
                        .col-xs-4
                          %a.btn.btn-success.center-block{:href => "#"} Success
                      %hr/
                      .btn-group.btn-group-sm
                        %button.btn.btn-default 1
                        %button.btn.btn-default 2
                        %button.btn.btn-default 3
                      %hr/
                      .row
                        .col-md-4
                          %span.label.label-default Label
                          %span.label.label-success Success
                        .col-md-4
                          %span.label.label-warning Warning
                          %span.label.label-info Info
                        .col-md-4
                          %span.label.label-danger Danger
                          %span.label.label-primary Primary
                      / /row
                    / /panel-body
                  / /panel
                / /col-6
                .col-sm-6
                  .panel.panel-default
                    .panel-heading
                      %a.pull-right{:href => "#"} View all
                      %h4 Progress Bars
                    .panel-body
                      .progress
                        .progress-bar.progress-bar-info{:style => "width: 20%"}
                      .progress
                        .progress-bar.progress-bar-success{:style => "width: 40%"}
                      .progress
                        .progress-bar.progress-bar-warning{:style => "width: 80%"}
                      .progress
                        .progress-bar.progress-bar-danger{:style => "width: 50%"}
                    / /panel-body
                  / /panel
                / /col-6
                .col-sm-6
                  .panel.panel-default
                    .panel-heading
                      %a.pull-right{:href => "#"} View all
                      %h4 Tabs
                    .panel-body
                      %ul.nav.nav-tabs
                        %li.active
                          %a{"data-toggle" => "tab", :href => "#A"} Section 1
                        %li
                          %a{"data-toggle" => "tab", :href => "#B"} Section 2
                        %li
                          %a{"data-toggle" => "tab", :href => "#C"} Section 3
                      .tabbable
                        .tab-content
                          #A.tab-pane.active
                            .well.well-sm I'm in Section A.
                          #B.tab-pane
                            .well.well-sm Howdy, I'm in Section B.
                          #C.tab-pane
                            .well.well-sm I've decided that I like wells.
                      / /tabbable
                      .col-sm-12.text-center
                        %ul.pagination.center-block{:style => "display:inline-block;"}
                          %li
                            %a{:href => "#"} «
                          %li
                            %a{:href => "#"} 1
                          %li
                            %a{:href => "#"} 2
                          %li
                            %a{:href => "#"} 3
                          %li
                            %a{:href => "#"} 4
                          %li
                            %a{:href => "#"} 5
                          %li
                            %a{:href => "#"} »
                    / /panel-body
                  / /panel
                / /col-6
                .clearfix
                %hr/
                %h4
                  %a{:href => "http://www.bootply.com/ToV8Bzv4GQ"} Holo Theme from Bootply
                %hr/
              / /.col-xs-12
            / /.row
        / /.container
      / /.page-container
      %footer
        / footer
        .container
          .row
            %ul.list-unstyled.text-right
              %li.col-sm-4.col-xs-6
                %a{:href => "#"} About
              %li.col-sm-4.col-xs-6
                %a{:href => "#"} Services
              %li.col-sm-4.col-xs-6
                %a{:href => "#"} Studies
              %li.col-sm-4.col-xs-6
                %a{:href => "#"} References
              %li.col-sm-4.col-xs-6
                %a{:href => "#"} Login
              %li.col-sm-4.col-xs-6
                %a{:href => "#"} Press
              %li.col-sm-4.col-xs-6
                %a{:href => "#"} Contact
              %li.col-sm-4.col-xs-6
                %a{:href => "#"} Impressum
          / /row
        / /container
